$color-green: #20CE88;
$color-dark: #1D1F20;
$color-dark-logo: #1E2D3B;
$color-grey: #f6f6f6;

// Backend variables
// Main Colors
$main-color-red: #e42022;
$main-color-green: rgba(68, 219, 189, 1);

$color-dark-bg: rgba(47, 46, 46, 1);
$color-footer-bg: #c6c6c5;
$color-footer-logo-bg: #eeeeee;
$color-default-text: #2F2E2E;
$color-hyperlink: #409EFF;
$color-default-light: rgba(87,87,87,0.75);
$color-default-light-super: rgba(87,87,87,0.15);
$color-dark-bg: #33434b;
$color-reverse-text: #ffffff;

// Default theme color pattern
$color-blue-default: #2f6ed5;
$color-blue-dark-default: #1953b4;
$color-grey-default: #f9f9f9;
$color-dark-default: #363f4e;
$color-border-default: #ebebeb;
$width-wrap-desktop: 1180px;