// Standard Panel
$border-width: 1px;
.s-panel{
  width: 100%;
  margin-top: 30px;
  .s-header{
    background-color: $color-panel-header-bg;
    border: solid $border-width $color-panel-border-bg;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    .txt-header{
      line-height: 50px;
      color: $color-blue-theme;
      font-size: 18px;
      font-weight: 100;
      margin-bottom: 0;
    }
  }
  .s-content{
    width: 100%;
    border-left: solid $border-width rgb(247, 247, 247);
    border-right: solid $border-width rgb(247, 247, 247);
    border-bottom: solid $border-width rgb(247, 247, 247);
    padding: 20px;
    overflow: hidden;
    .columns{
      margin-top: -20px;
      margin-bottom: -20px;
      .column{
        border-right: solid $border-width rgb(247, 247, 247);
        margin-left: 0;
        margin-right: 3px;
        .product-thumb{
          display: flex;
          justify-content: center;
          align-items: center;
          height: 300px;
          .image{
            width: 70%;
            margin: 0 auto;
          }
        }
        .price-wrap{
          line-height: 20px;
          .lbl{
            color: $color-text-black;
          }
          .value{

          }
          .special{
            color: #b2b2b2;
            text-decoration: line-through;
            font-size: 13px;
          }
        }
      }
    }
  }
}