$color-gold: #b0976d;
$color-dark-green: #3a482e;
$color-dark-theme: #3a482e;
$color-dark-theme-alt: #20CE88;
$color-blue-theme: rgb(61,111,206);

// 用于Panel
$color-panel-header-bg: rgb(246,246,246);
$color-panel-border-bg: rgb(242,242,242);
$color-text-black: #363d4d;

*{
  box-sizing: border-box;
}
body{
  //background-image: url("../../images/backend/wine_red_wallpaper_025.jpg");
}
.container{
  max-width: $width-wrap-desktop !important;
}
.grey-shadow{
  -webkit-box-shadow: 10px 10px 5px 0px rgba(255,255,255,1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(255,255,255,1);
  box-shadow: 10px 10px 5px 0px rgba(255,255,255,1);
}
.border-dark-grey{
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc;
}

.txt-blue{
  color: $color-blue-theme !important;
}

// Mobile Header 手机版的顶部
.bg-green{
  background-color: $color-green;
  color: white;
  a{
    color: white;
  }
}

.bg-dark-green{
  background-color: $color-dark-green;
  color: white;
  a{
    color: white;
  }
}

.bg-theme-alt{
  background-color: $color-dark-theme-alt !important;
}

.bg-dark-gradient{
  background: linear-gradient(#113c82,#0b2653,#0b2653,#0b2653,#0b2653,#0b2653);
}
.bg-grey{
  background-color: $color-grey;
}
.bg-white{
  background-color: white;
}
.no-list-style{
  li{
    list-style: none;
  }
}
.mobile-drawer-trigger{
  color: white;
  background: transparent;
  border: none;
  font-size: 23px;
}
/* 移动版Header的文字 */
.mobile-head-txt{
  line-height: 52px;
  text-align: center;
  margin-left: -45px;
  font-size: 24px;
}
// Mobile Header 手机版的顶部的css结束

// 这个css rule 是widget专有的, 必须在实际页面输出的时候隐藏
.widget-short-code{
  display: none !important;
}

// 顶部菜单的搜索框
.nav-search-form{
  margin-right: 20px;
  margin-top: 12px;
  width: 300px;
  .el-input{
    .el-input__inner{
      margin: 5px;
      border-radius: 0;
    }
  }
}
// 深色背景的导航菜单栏
.dark-theme-nav{
  background: rgba(61,111,206,1);
  .navbar-start{
    .navbar-item{
      color: white;
      font-size: 21px;
      font-weight: bold;
      display: block;
      line-height: 34px;
      &:hover{
        background-color: rgba(39,85,174,1);
      }
    }
    .product-category-root{
      min-height: 54px;
    }
  }
}

// 首页 video 相关
.homepage-video-mask{
  width: 100%;
  height: 720px;
  margin-top: -720px;
  display: block;
  background-color: rgba(0,0,0,0.8);
  z-index: 999;
  position: absolute;
  .logo-text{
    color: white;
    font-size: 90px;
    font-weight: bold;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 30px;
  }
  .slogan-text{
    color: $color-gold;
    font-size: 32px;
    text-align: center;
    margin-bottom: 130px;
  }
  .homepage-video-mask-btn{
    border: solid 1px rgba(255,255,255,0.25);
    width: 80%;
    margin:0 auto;
    line-height: 44px;
    font-size: 20px;
    color: rgba(255,255,255,0.25);
    display: block;
    text-align: center;
    font-weight: 100;
    &:hover{
      background-color: white;
      color: #333;
    }
  }
}

.page-title-wrap{
  h1{
    margin: 20px 0;
  }
}
.page-content-wrap{
  ul{
    padding-left: 20px;
    li{
      line-height: 24px;
      font-size: 14px;
      margin: 6px 0;
    }
  }
}
.el-autocomplete-suggestion{
  z-index: 9999 !important;
}

// Side bar
.left-side-bar-wrap, .right-side-bar-wrap{
  margin-top: 35px;
  .box{
    border-radius: 0;
    h2{
      font-size: 18px;
      font-weight: bold;
      line-height: 40px;
    }
    ul{
      padding-left: 5px;
      li{
        margin: 5px;;
      }
    }
  }
}

figure{
  margin:0;
}
ul.tight-list{
  li{
    margin:0;
    padding: 0;
    font-size: 17px;
    line-height: 24px;
  }
}

.show-mask-on-hover{
  position: relative;
  display: block;
  width: 100%;
  height: 200px;
  overflow: hidden;
  img{
    display: block;
    z-index: 1;
    width: 100%;
  }
  .mask{
    display: block;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 200px;
    margin: 0;
    z-index: 2;
    position: absolute;
    top: 201px;
    left: 0;
    a{
      color: white;
      text-decoration: none;
      p.name{
        color: white;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        margin-top: 60px;
      }
      p.price{
        color: white;
        font-weight: bold;
        font-size: 17px;
        text-align: center;
      }
    }
  }
}

.show-mask{
  position: relative;
  display: block;
  width: 100%;
  height: 200px;
  overflow: hidden;
  img{
    display: block;
    z-index: 1;
    width: 100%;
  }
  .mask{
    display: block;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 200px;
    margin: 0;
    z-index: 2;
    position: absolute;
    top: 0px;
    left: 0;
    a{
      color: white;
      text-decoration: none;
      p.name{
        color: white;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        margin-top: 60px;
      }
      p.price{
        color: white;
        font-weight: bold;
        font-size: 17px;
        text-align: center;
      }
    }
  }
}

@import "top";
@import "category";
@import "catalog";
@import "checkout";
@import "shopping_cart_mobile";
@import "panel";