// Top bar
.top-bar{
  background-color: $color-grey-default;
  border-bottom: solid 1px $color-border-default;
  .slogan-text{
    line-height: 50px;
  }
  .container{
    .navbar-item{
      padding: 2px;
      .button{
        background-color: transparent;
        border: none;
        &:hover{
          color: $color-blue-default;
        }
      }
    }
  }
}

.custom-header{
  .navbar-brand{
    .logo-head-text{
      font-size: 60px;
      font-weight: bold;
      color: $color-dark-logo;
      padding-left: 0;
      &:hover{
        background-color: white;
      }
      .logo-img{
        max-height: 120px !important;
        height: 57px;
      }
    }
  }
}

.logo-img-mobile{
  width: 100%;
  margin-top: -25px;
}

.full-width-menu-bar{
  background-color: $color-blue-default;
  padding: 3px;
}

#navigation-app{
  .advanced-auto-search{
    width: 630px;
    .el-input-group__prepend{
      background-color: white;
      border: none;
      height: 50px;
      .el-select{
        width: 200px;
      }
    }
    .el-input__inner{
      border: none;
      height: 50px;
    }
    .el-input-group__append{
      border:none;
      background-color: $color-blue-dark-default;
      color: white;
      height: 50px;
    }
  }
}